target/*
out/*
gen/*
proguard_logs/*
.idea/*
proguard/*
exported/*
bin/*
tests/bin/*
readmill.properties

.DS_Store
.classpath
.project
.settings
settings.xml

R.java

res/values/credentials.xml
res/values/application.xml

readtracker.iml

*.apk

project.properties
default.properties
