.idea/*
!.idea/codeStyleSettings.xml
proguard/*
.DS_Store
.classpath
.project
.settings
R.java
*.iml
*.apk
project.properties
/app/src/debug/res/values/config.xml
/app/build
/app/release
local.properties
.gradle/*
proguard4.6-out
build/
app/src/main/gen
