<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.readtracker_beta"
          android:versionCode="10"
          android:versionName="3.0.0">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <supports-screens android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="false" />

  <uses-sdk android:targetSdkVersion="8" />

  <application android:icon="@drawable/icon"
               android:label="ReadTracker"
               android:name=".ApplicationReadTracker"
               android:theme="@style/ReadTrackerTheme">

    <activity android:label="ReadTracker"
              android:name=".activities.WelcomeActivity" />

    <activity android:name=".activities.FinishBookActivity" />

    <activity android:name=".activities.HomeActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity android:name=".activities.BookSearchActivity" />

    <activity android:name=".activities.BookActivity" />

    <service android:name=".ReadmillTransferIntent" />

    <activity android:name=".activities.AddBookActivity"
              android:noHistory="true"
              android:windowSoftInputMode="adjustPan" />

    <activity android:name=".activities.SettingsActivity" />

    <activity android:name=".activities.BookSettingsActivity" />

    <activity android:name=".activities.InAppBrowserActivity" />

    <activity android:name=".activities.HighlightActivity" />

  </application>

</manifest>
