<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.readtracker_beta"
          android:versionCode="10"
          android:versionName="3.0.0-DEV">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <supports-screens android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="false" />

  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

  <application android:icon="@drawable/icon"
               android:label="ReadTrackerBeta"
               android:name=".ApplicationReadTracker"
               android:theme="@style/ReadTrackerTheme">

    <activity android:label="ReadTracker"
              android:name=".activities.ActivityWelcome" />

    <activity android:name=".activities.ActivitySignInAndAuthorize" />

    <activity android:name=".activities.ActivityClose" />

    <activity android:name=".activities.ActivityHome">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity android:name=".activities.ActivityBookSearch" />

    <activity android:name=".activities.ActivityBook" />

    <activity android:name=".activities.ActivityReadingSessionEnd"
              android:windowSoftInputMode="adjustPan" />

    <service android:name=".ReadmillTransferIntent" />

    <activity android:name=".activities.ActivityAddBook"
              android:noHistory="true"
              android:windowSoftInputMode="adjustPan" />

    <activity android:name=".activities.ActivitySettings" />

    <activity android:name=".activities.ActivityWebView" />

    <activity android:name=".activities.ActivityHighlight" />

  </application>

</manifest>
