<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.readtracker"
          android:versionCode="10"
          android:versionName="3.0.0-DEV">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <supports-screens android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="false" />

  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />

  <application android:icon="@drawable/icon"
               android:label="ReadTracker"
               android:name=".ApplicationReadTracker"
               android:theme="@style/ReadTrackerTheme">

    <activity android:label="ReadTracker"
              android:name=".ActivityWelcome" />

    <activity android:name=".ActivitySignInAndAuthorize" />

    <activity android:name=".ActivityClose" />

    <activity android:name=".ActivityHome">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity android:name=".ActivityBookSearch" />

    <activity android:name=".ActivityBook"
              android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".ActivityReadingSessionEnd"
              android:windowSoftInputMode="adjustPan" />

    <service android:name=".ReadmillTransferIntent" />

    <activity android:name=".ActivityAddBook"
              android:noHistory="true"
              android:windowSoftInputMode="stateVisible|adjustPan" />

    <activity android:name=".ActivitySettings" />

    <activity android:name=".ActivityWebView" />

    <activity android:name=".ActivityHighlight" />

  </application>

</manifest>
